{
  "env": {
    "browser": true
  },
  "rules": {
    "quotes": [1, "single"],
    "no-console": false,
    "no-use-before-define": false
  },
  "ecmaFeatures": {
    "templateStrings": true
  },
  "globals": {
    "document": true,
    "console": true,
    "window": true
  }
}
